article {
  margin-top: 20px;
  width: 100%;
  font-size:20px;
  background-color:#fff;
  padding: 4em;
  border: .25em solid #191919;
  color:black;
}

h1 {
  font-size: 2em;
  margin: 0 0 .5em;
}
/******************Paragraph dans blog***************/
p {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  margin: 0;
  line-height: 1.618em;
}


.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 45px;
  text-align: center;
  padding-top: 0px;
  padding-right: 75px;
  z-index: 1;
}


@media (min-width: 768px) {}



@media (min-width: 992px) {
.image {
  content:url("../img/coach-sportif.jpg")
}

.image::after{
  content: url("../img/coach-sportif.jpg")
}

}
